.checkout-container {
    max-width: 60%;
    height: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
}

.header h1 {
    font-size: 1cm;
    font-weight: bold;
    margin-left: -3%;
}

.checkout-container .header .timer {
    background-color: #4a4a4a;
    padding: 8px 15px;
    border-radius: 4px;
    color: white;
    margin-right: 40%;
}

.time-left {
    font-size: 0.8em;
}

.countdown {
    font-size: 1.2em;
    color: yellow;
    font-weight: bold;
}

.content {
    justify-content: space-between;
    align-items: center;
}

.address {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    width: 100%;
}

.address-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Giảm khoảng cách giữa các dòng */
}

.address-item h2:first-child {
    font-weight: bold;
    width: 120px; /* Đặt chiều rộng cố định cho label */
    margin: 0;
}

.address-item h2:last-child {
    margin: 0;
    margin-left: 10px;
    font-size: 1em;
    font-weight: normal;
}

.config {
    margin: 20px 10%;
    width: 80%;
}
.config-header {
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: bold;
    margin-left: 0%;
}

.config-content {
    display: flex;
    justify-content: space-between;
    max-width: 60%;
}

.config-column {
    flex: 1;
    max-width: 50%;
}

.config-item {
    font-size: 1em;
    margin-bottom: 10px;
    margin-left: 5%;
}

.table-container {
    margin: 20px 10%;
    width: 50%;
}
.table-header {
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: bold;
}
.info-table,
.config-table,
.files-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table td,
table th {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #f4f4f4;
}

.total-row {
    background-color: #f8f8f8;
}

.note {
    display: flex;
    align-items: center; /* Căn giữa các phần tử theo chiều dọc */
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    width: 100%;
}

.note h2 {
    margin: 0;
    margin-right: 10px; /* Thêm khoảng cách giữa "Note:" và nội dung */
    font-weight: bold;
    font-style: roboto;
}

.note p {
    margin: 0; /* Loại bỏ margin mặc định của thẻ p */
    font-style: roboto; /* Tùy chọn: làm cho text nghiêng */
}

.button-group {
    text-align: center;
    margin: 20px 0;
}

.back-button-checkout{
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
.next-button-checkout {
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0057FF;
    color: white;
    font-weight: bold;
}