.spso-menu {
    padding: 0;
    box-sizing: border-box;
    display: flex;
    width: 200px;
    min-height: 90vh;
    background-color: #333333;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    flex: 1;
    transition: width 0.5s ease; /* Smooth shrinking */
    overflow: hidden;
}

.spso-menu.shrink {
    width: 45px; /* Shrunk width */
  }

button {
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 12px 4px;
}

.menu-title {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    gap: 8px;
}

#menu-btn {
    background-color: #333;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
}

#menu-btn-icon {
    width: 30px;
    height: auto;
}

.spso-menu-tab-container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

.spso-menu .spso-menu-tab-container button {
    display: flex;
    min-width: 100%;
    align-self: stretch;
    align-items: center;
    gap: 8px;
    background-color: #333;
    color: #EEE;
    flex: 1;
    border-top: gray 1px solid;
    padding: 12px 8px;
    text-align: start;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spso-menu .spso-menu-tab-container button:hover {
    background-color: #45464c;
}

.spso-menu .spso-menu-tab-container button:focus {
    background-color: #2C3B42;
    color: #fff;
    font-weight: 600;
    border-top: #fff 0.5px solid;
    border-bottom: #fff 0.5px solid;
}

.spso-menu .spso-menu-tab-container button:last-child {
    border-bottom: #AAA 0.2px solid;
}

/* .spso-menu-container {
    display: flex;
    flex-direction: row;
} */